a.btn_buy_bil {
	padding: 14px;
    background: #FA434B;
    border-radius: 25px;
    width: 200px;
    height: 60px;
    color: #000;
    margin-left: auto;
    margin-right: 50px;
    justify-content: center;
    margin-top: 34PX;
}
p{
	text-align: :justify-content;
}

.table{
    margin-left: auto;
    padding-top: 25px;
    width:fit-content;
}
.but{
margin-right:20px; 
  color: #000;
  width: 211px;
  height: 45px;
  border:  2.5px #FA434B solid;
  border-radius: 40px;
  background: #fff;
  transition: .5s;
  font-weight: 600;
font-size: 18px;
}
.but:hover{
  background: #FA434B;
  color:#fff;
}

.but_active{
    background: #FA434B;
  color:#fff;
}

td {
  width:20px;
  height: 20px;
  border-radius:100px;
  background: #00cc00;
  text-align:center;
  margin: 5px;
  color:white;
  font-size:10px;
  cursor: pointer;
}

.chose{
  background: red;
}

form{
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  display: none;
  z-index: 5;
  color:#000;
}

a,button{
  text-decoration:none;
}

.form{
  background: white;
  margin:150px auto;
  width:fit-content;
  height: auto;
  border-radius:10px;
  min-width: 700px;
}

.pay{
  display:flex;
}

.btn-outline-danger{
  margin:20px 30px 20px auto;
}

.costtext{
  margin:auto 30px;
  font-weight:700;
}

.costdate{
  margin:auto 30px;
  font-weight:700;
}

html body a:hover{
  color:#000;
}